[submodule "foundry-simple-storage/lib/forge-std"]
	path = foundry-simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-fund-me/lib/forge-std"]
	path = foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-fund-me/lib/foundry-devops"]
	path = foundry-fund-me/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "project-lottery/lib/forge-std"]
	path = project-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "project-lottery/lib/chainlink-brownie-contracts"]
	path = project-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "project-lottery/lib/solmate"]
	path = project-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "project-lottery/lib/foundry-devops"]
	path = project-lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "project-erc20/lib/forge-std"]
	path = project-erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "project-erc20/lib/openzeppelin-contracts"]
	path = project-erc20/lib/openzeppelin-contracts
	url = https://github.com/openZeppelin/openzeppelin-contracts
[submodule "project-nft/lib/forge-std"]
	path = project-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "project-nft/lib/openzeppelin-contracts"]
	path = project-nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "project-nft/lib/foundry-devops"]
	path = project-nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "defi-stablecoin/lib/forge-std"]
	path = defi-stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "defi-stablecoin/lib/openzeppelin-contracts"]
	path = defi-stablecoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "defi-stablecoin/lib/chainlink-brownie-contracts"]
	path = defi-stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "merkle-airdrop/lib/forge-std"]
	path = merkle-airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "merkle-airdrop/lib/openzeppelin-contracts"]
	path = merkle-airdrop/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "merkle-airdrop/lib/murky"]
	path = merkle-airdrop/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "merkle-airdrop/lib/foundry-devops"]
	path = merkle-airdrop/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
